@charset "utf-8";
/* CSS Document */

body
{
	font-family: 'Abel', sans-serif !important;
}
.green
{
	color:#194034;
}

.green_bg, a.green_bg
{
	background-color:#194034;
	color:#fff !important;
}

h1
{
	text-transform: uppercase;
}

p
{
	font-size: 18px;
}

#top_area
{
	background-image: url(../images/top_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

#navigation
{
	background: #3d8068;
}

#navigation a
{
	color: #fff !important;
	padding: 10px 25px;
}

#navigation a:hover
{
	background: #8dc8b4;
}

#navigation .nav-link.active {
    color: #fff;
    background-color: #194034;
}

#header
{
	background-image: url(../images/header_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

#header h1
{
	font-size: 72px;
	color: #fff;
	text-transform: uppercase;
	padding-top: 150px;
	padding-bottom:300px;
}

h1 span
{
	font-weight: bold;
}

#header h3
{
	color: #fff;
	font-size: 48px;
	padding-bottom:150px;
}

#aboutus
{
	background-image: url(../images/aboutus_bg.jpg);
	background-repeat: repeat-y;
	padding: 50px 0px;
}

#facts
{
	padding: 50px 0px;
	background-color: #4d927d;
}

.fact_container
{
	margin-bottom: 25px;
}

#facts h1
{
	color: #fff !important;
	margin-bottom:50px;
}

.fact_container div
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	color: #fff;
	font-size: 24px;
}

#wallet
{
	background-image: url(../images/bar_bg.jpg);
	background-repeat: repeat;
	color: #fff;
}

#numbers
{
	padding: 50px 0px;
}

footer
{
	background: #e4e4e4;
}

@media screen and (max-width:480px)
{
	h1, h2
	{
		font-size:26px;
	}
	h4
	{
		font-size: 16px;
	}
	p
	{
		font-size: 14px;
	}
	
	#header h1
{
	font-size: 26px;
	padding-top: 50px;
	padding-bottom:20px;
	color:#194034;
}
	#header h3
{
	font-size: 20px;
	padding-bottom:50px;
	color:#194034;
}
	
	.fact_container div
{
	display:block;
	margin-right: 0px;
	text-align: center;
	font-size: 14px;
}
}

/*************** Progress Bar Coding **********************/

.progress{
    width: 250px;
    height: 250px;
    line-height: 250px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress-value {
    font-size: 24px !important;
    line-height: 36px !important;
    background: none !important;
    color: green !important;
    padding: 30% 10px;
    text-transform: uppercase;
}

.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 180px;
    border-bottom-left-radius: 180px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}
